
@import url(../default/style-default.css);


#xo-canvas-leftcolumn {
	float:			right;
}

#xo-canvas-rightcolumn {
	float:			left;
}

#xo-canvas.xo-with_left #xo-page {
	margin-left:	0px;
	margin-right:	176px;
}

#xo-canvas.xo-with_right #xo-page {
	margin-right:	0px;
	margin-left:	176px;
}

#xo-canvas.xo-with_both #xo-page {
	margin-left:	176px;
	margin-right:	176px;
}


