
#xo-header-userinfo {
	right:			25px;
}
#xo-header-userinfo .user-name {
	background:		transparent none;
	padding:		0px;
}

.mod_xoops_Identification #xo-page.login {
	text-align:		center;
}
.mod_xoops_Identification #xo-page.login #login_window  {
	text-align:		left;
	margin:			1em;
	width:			480px;
}
