
@import url(blocks.css);
@import url(elements.css);


html, body {
	margin:					0px;
	background:				#ffffff url(img/body_bg.png) repeat-x left top;
	background-attachment:	fixed;
	color:					#000000;
	font:					10pt sans-serif;
}

#xo-canvas {
	margin:			.4em;
	background:		#EEEEEE;
}

/* ------------------- Canvas header ------------------- */
#xo-canvas-header {
	position:		relative;
	border-bottom:	1px solid #CCCCCC;
	background:		#FFFFFF;
	padding:		3px 3px 3px;
}

#xo-banner {
	position:		relative;
	height:			4.5em;
	border:			1px solid #000000;
	padding:		2px;
	background:		#2A75C5 url(img/canvas-banner_bg.png) repeat-x left top;
}

#xo-banner-ad {
	position:		absolute;
	top:			2px;
	left:			0px;
	width:			100%;
	text-align:		center;
}

#xo-banner-ad object, #xo-banner-ad img {
	display:		block;
	text-align:		left;
	margin:			0px auto;
}

#xo-header-userinfo {
	position:		absolute;
	top:			6px;
	right:			10px;
	color:			#ffffff;
	font-size:		90%;
	font-weight:	bold;
	text-align:		center;
}
#xo-header-userinfo a {
	display:		block;
	color:			#eeeeee;
}
#xo-header-userinfo .user-name {
	background:		url(img/logged_in-22.png) no-repeat right center;
	padding-top:	2px;
	padding-right:	24px;
}

#xo-redirect-message {
	position:		absolute;
	z-index:		20;
	left:			25%;
	width:			50%;
	top:			80px;
	padding:		.2em 1em;
	background:		#000000;
	color:			#EEEEEE;
	text-align:		center;
	font-weight:	bold;
}

/* ------------------- Main canvas zone (columns and page) ------------------- */
#xo-canvas-main {
	border-top:		1px solid #FFFFFF;
	margin:			0px;
}
#xo-canvas-content {
	display:		table;
	width:			100%;
	border-spacing:	6px;
}
.xo-canvas-column {
	width:			11em;
}
.xo-canvas-column, #xo-page {
	display:		table-cell;
	vertical-align:	top;
}

#xo-canvas-column .xo-block {
	display:		block;
}

#xo-page {
	min-height:		300px;
	border:			1px solid #999999;
	background:		#ffffff;
}

#xo-content {
	position:		relative;
}


#xo-canvas-footer {
	padding:		.1em;
	background:		#DDDDDD;
	text-align:		center;
	font-size:		90%;
	font-family:	monospace;
}
#xo-canvas-footer, #xo-canvas-footer a {
	color:				#666666;
	text-decoration:	none;
}


input[type=text], input[type=password] {
	border:			1px solid #B3B9C3;
	background:		#ffffff url(img/input_bg.png) no-repeat left top;
	color:			#000000;
	padding:		1px 2px;
}

button {
	background:		#D3D2D6 url(img/button_bg.png) repeat-x left bottom;
}

button:hover {
	background:		#E6EBFF url(img/button-hover_bg.png) repeat-x left bottom;
}

