
	ul.pyro_TreeWidget, ul.pyro_TreeWidget li, ul.pyro_TreeWidget ul {
		margin:			0px;
		padding:		0px;
	}
	ul.pyro_TreeWidget li {
		list-style:		none;
	}
	ul.pyro_TreeWidget ul {
		margin-left:	5px;
	}
	ul.pyro_TreeWidget  li.openNode    ul { display: block; }
	ul.pyro_TreeWidget  li.closedNode  ul { display: none; }
	
	ul.pyro_TreeWidget li.openNode {
		cursor:		default;
		background:	url(minus.gif) no-repeat left top;
	}

	ul.pyro_TreeWidget li.closedNode {
		cursor:		default;
		background:	url(plus.gif) no-repeat left top;
	}

	ul.pyro_TreeWidget li.openNode, ul.pyro_TreeWidget li.closedNode {
		padding: 2px 0px 0px 17px;
	}
